 .ant-card.nullHypo{
    width: 100%;
    /* position:absolute;
    top:10px;
    left:20px; */
    margin: 20px;
    
}


/* div.hypo .selectors{
    margin: 20px;
}

.ant-card.nullHypo .ant-card-head{
background-color: cornflowerblue; 
color:white
}

.hypoPart .anticon{
    margin: 0px 10px;
    
}

.anticon svg{
    height: 1.5em;
    width: 1.5em;
}

.oneHypo .hypoPart{
    float: left;
} */
