.InfoPanel > *{
    float: left;
}

.InfoPanel .dark .ant-select-selection{
    background-color: black;
    border: 2px solid #d9d9d9;
    /* width: 100px; */
}


.InfoPanel .dark .ant-select-arrow{
    color:white;
    font-size: 8px;
}